body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
}

#system-time-mod-root {
  pointer-events: none;
  background: red;
}

#system-time-mod-root > * {
  pointer-events: auto;
}
